.mainContain {
    margin-top: 25px;
  }

.searchBar {
  text-align: right;
}

.notesCard {
  margin: 0 10px 0 10px;
}

.mainPgBtns {
  padding: 0 10px 0 10px;
  margin: 0 0 0 0;
}

@media print
{
  .no-print, .no-print *
  {
    display: none !important;
  }
}